{% extends 'base.html' %}
{% load static %}
{% block title %}
	جست و جوی مجله آنلاین
{% endblock %}
{% block meta_description %}
جست و جوی مجله آنلاین
{% endblock %}
{% block content %}
<!-- breadcrumb__start -->
<div class="breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="breadcrumb__title">
                    <h1>جست و جوی بلاگ</h1>
                </div>
            </div>
        </div>
    </div>
</div>
 <!-- breadcrumb__end -->

<!-- blog__section__start -->
    <div class="blog sp_bottom_80 sp_top_80">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-12 col-12">
                    <div class="blog__sidebar">
                        <h4 class="blog__sidebar__title">جستجو</h4>
                        <div class="blog__search">
                          <form action="/blog/search" method="get" role="search">
                            <input type="text" name="q" placeholder="جست و جوی مطالب">
                            <button type="submit"><i class="fas fa-search"></i></button>
                          </form>
                        </div>
                    </div>


                        

                        


                 </div>
                 {% if blogs %}
                 <div class="col-xl-9 col-lg-9 col-md-12 col-12">

                        <div class="row">
                            {% for blog in blogs %}
                            <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                                <div class="blog__single__wrap">
                                    <div class="blog__img">
                                       <a href="{% url 'blog_details' slug=blog.slug %}"> <img src="{{ blog.image.url }}" alt="{{ blog.title }}"></a>
                                    </div>
                
                                    <div class="blog__meta">
                                        <ul>
                                            <li class="blog__date"><i class="far fa-calendar-alt"></i>{{ blog.date_created }}</li>
                                            <!-- <li class="blog__commemts">
                                                <a href="blog-details.html"><i class="fas fa-comment"></i>2 نظر</a>
                                            </li> -->
                                        </ul>
                                      </div>
                
                                      <div class="blog__title">
                                        <h2><a href="{% url 'blog_details' slug=blog.slug %}" tabindex="0">{{ blog.meta }}</a></h2>
                                      </div>
                
                                      <div class="blog__button">
                                        <a href="{% url 'blog_details' slug=blog.slug %}" tabindex="0">ادامه مطلب</a>
                                      </div>
                
                                </div>
                            </div>
                            {% endfor %}
                            <hr>

                        </div>
                    </div>
                    {% else %}
                    <h4> موردی وجود نداشت </h4>
                    {% endif %}

              
        </div>
    </div>
</div>
<!-- blog__section__end -->
{% endblock %}