{% extends 'base.html' %}
{% load static %}
{% block title %}
	درباره النوا 
{% endblock %}
{% block meta_description %}
	درباره النوا 
{% endblock %}
{% block content %}
<div class="about sp_top_80 sp_bottom_80" style="background: #fff url(https://www.kikocosmetics.com/_next/static/media/shade-login-registration-desktop.ddfd0517.jpg)
            no-repeat 50% 50% / cover; padding-bottom: 400px; padding-left: 20px; padding-right: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-12">
                <div class="about__text">
                    <h1>النوا</h1>
                    <p>النوا</p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-12">
                <div class="about__img">
                    <img src="{% static './img/service/' %}" alt="درباره النوا">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}