{% extends 'base.html' %}
{% load static %}
{% block title %}
	درباره آرتینو گیم
{% endblock %}
{% block meta_description %}
	درباره آرتینو گیم
{% endblock %}
{% block content %}
<div class="about sp_top_80 sp_bottom_80">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-12">
                <div class="about__text">
                    <h2>آرتینو گیم</h2>
                    <p>خرید تابلو از فروشگاه آرتینو گیم که تنوع بالایی از این محصول را با سبک‌ها و طراحی‌های مختلف در اختیار شما قرار می‌دهد، باعث می‌شود تا براساس سلیقه خود بهترین گزینه را تهیه کرده و محیط مورد نظرتان را به زیبایی هرچه تمام‌تر طراحی کنید.</p>
                    <p>اگر به‌دنبال جدیدترین تابلو برای پذیرایی خود هستید باید مدلی را تهیه کنید که بیشترین هماهنگی را با نوع دکوراسیون خانه شما داشته باشد تا هنگام قرارگیری تابلو در کنار دیگر وسایل، از تماشای آن‌ها لذت ببرید.</p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-12">
                <div class="about__img">
                    <img src="{% static './img/service/about-us.jpg' %}" alt="درباره آرتینو گیم">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}