{% extends 'base.html' %}
{% load static %}
{% block title %}
	{{ product.seo_title }}
{% endblock %}
{% block meta_description %}
	{{ product.meta }}
{% endblock %}
{% block content %}
<style>
    .snapppay-product-image {
        margin-left: 10px !important;
        @media screen and (min-width: 991px) {
            width: 45px !important;
            height: 45px !important;
        }
        
        @media screen and (max-width: 991px) {
            width: 42px !important;
            height: 42px !important;
        } 
    }
    .slick-track {
        margin-right: 20px !important;
    }

    @media screen and (max-width: 768px) {
        #desktop-product-gallery {
            display: none !important;
        }
    }

    @media screen and (min-width: 1024px) {
        #mobile-product-gallery {
            display: none !important;
        }
    }

    #select-form {
        background: white;
        padding: 0px !important;
        display: flex;
    }

    .form-select-size {
        display: none !important;
    }

    #add-to-cart-wishlist {
        display: flex;
    }

    .image-popup {
        cursor: zoom-in;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    body {
        cursor: default;
    }

    .color-circles {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
    }

    .story-circle {
        width: clamp(50px, 10vw, 70px);
        height: clamp(50px, 10vw, 70px);
        border-radius: 50%;
        background: #cdcdcd;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .story-circle .fill {
        width: 85%;
        height: 85%;
        border-radius: 50%;
        background-color: #ccc;
        border: 3px solid #fff;
    }

    .slick-track {
        transform: translate3d(0, 0, 0) !important;
    }
</style>
<div id="imageModal" class="modal">
	<span class="close">&times;</span>
	<img class="modal-content" id="modalImage">
</div>
<!-- single__product__start -->
<div class="single__product sp_top_50 sp_bottom_80" style="margin: 0px; background: #d9d9d9;">
    <div class="container" id="product-container">
        <div class="row" id="product-row">
            <div class="col-xl-3 col-lg-2 col-md-12" style="padding-top: 20px;">
                <div id="id-container" style="background-color: white; padding: 15px; border-radius: 8px; margin-right: 6.5px; margin-bottom: 20px;">
                    <div class="single__product__heding">
                        <div class="breadcrumb__title">
                            <ul>
                                <li>
                                    <a href="{% url 'index' %}" style="text-decoration: underline;">خانه</a>
                                </li>
                                <li class="color__blue">
                                    <a href="{% url 'store' title=product.category.title %}" style="text-decoration: underline;">{{ product.category }}</a>
                                </li>
                                <li class="color__blue">
                                    <a href="{% url 'product' product_slug=product.product_slug %}" style="text-decoration: underline;">{{ product.title }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <h1 style="padding-right: 20px; margin-top: 25px; font-size: x-large;">{{ product.title }}</h1>
                    <div id="desktop-product-gallery" class="featurearea__thumb__img featurearea__thumb__img__slider__active slider__default__arrow">
                        <div class="featurearea__single__thumb__img">
                            <img src="{{ product.image.url }}" alt="خرید و قیمت {{ product.title }}">
                        </div>
                        {% if product_images %}
                        {% for product_image in product_images %}
                        <div class="featurearea__single__thumb__img">
                            <img src="{{ product_image.image.url }}" alt="خرید و قیمت {{ product.title }}">
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-7 col-md-12">
                <div class="featurearea__details__img" dir="ltr" >
                    <div class="featurearea__big__img" >
                        <div class="featurearea__single__big__img">
                            <a href="{{ product.image.url }}" style="text-decoration: none; cursor:pointer;" class="image-popup">
                                <img src="{{ product.image.url }}" alt="خرید و قیمت {{ product.title }}" class="product-image">
                            </a>
                        </div>
						{% if product_images %}
						{% for product_image in product_images %}
                        <div class="featurearea__single__big__img">
                            <a href="{{ product_image.image.url }}" style="text-decoration: none; cursor:pointer;" class="image-popup">
                                <img src="{{ product_image.image.url }}" alt="خرید و قیمت {{ product.title }}" class="product-image">
                            </a>
                        </div>
						{% endfor %}
						{% endif %}
                    </div>
                    <div id="mobile-product-gallery" class="featurearea__thumb__img featurearea__thumb__img__slider__active slider__default__arrow">
                        <div class="featurearea__single__thumb__img">
                            <img src="{{ product.image.url }}" alt="خرید و قیمت {{ product.title }}">
                        </div>
						{% if product_images %}
						{% for product_image in product_images %}
                        <div class="featurearea__single__thumb__img">
                            <img src="{{ product_image.image.url }}" alt="خرید و قیمت {{ product.title }}">
                        </div>
						{% endfor %}
						{% endif %}
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-12">
                <div class="single__product__wrap">
                    <ul id="stock">
                        {% for size in product.sizes.all %}
                        <li>{{ size.stock }}</li>
                        {% endfor %}
                    </ul>
                    <div class="descriptionarea sp_bottom_80" style="margin-top: 20px; padding-left: 15px; ">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 descriptionarea__tab__wrapper" style="border-radius: 8px; background-color: white; margin-bottom: 15px;">
                                    {% with first_var=product.sizes.all|first %}
                                        <!-- color -->
                                        {% if first_var.attribute.name == 'رنگ' %}
                                            <div class="color-circles">
                                                {% for var in product.sizes.all %}
                                                <div class="story-circle" data-color="#{{ var.value.value }}" id="{{ var.id }}">
                                                    <span class="fill" style="background-color:#{{ var.value.value }}"></span>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                        <!-- size -->
                                        {% if first_var.attribute.name == 'اندازه' %}
                                            <div class="color-circles">
                                                {% for var in product.sizes.all %}
                                                <div class="story-circle" data-color="#{{ var.value.value }}" id="{{ var.id }}">
                                                    <span style="color: white;">{{ var.value.value }}</span>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    {% endwith %}
                                </div>
                                <div class="col-lg-12 col-md-12 descriptionarea__tab__wrapper" style="border-radius: 8px; background-color: white; margin-bottom: 15px;">
                                    <div class="single__product__price">
                                        <span><span id="dynamic-price"></span>تومان</span>
                                        {% for size in product.sizes.all %}
                                            {% if size.discount_price %}
                                            <del class="dynamic-discount-price num none">{{ size.price }} تومان</del>
                                            <label class="discount-label none">{{ size.discount_percent }}%</label>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div id="add-to-cart-wishlist">
                                        <form method="POST" action="{% url 'add_to_cart' %}" id="select-form">
                                            {% csrf_token %}
                                            <input type="hidden" name="product" value="{{ product.id }}">
                                            <label class="form-select-size" for="size">انتخاب:</label>
                                            <select class="form-select-size" id="select-size" name="size" required>
                                                {% for size in product.sizes.all %}
                                                {% if  size.discount_price %}
                                                <option class="form-select-size" value="{{ size.id }}" aria-label="{{ size.value }}">
                                                    {{ size.discount_price }}
                                                </option>
                                                {% else %}
                                                <option class="form-select-size" value="{{ size.id }}" aria-label="{{ size.value }}">
                                                    {{ size.price }}
                                                </option>
                                                {% endif %}
                                                {% endfor %}
                                            </select><br>
                                            <label class="form-select-size" for="quantity">تعداد:</label>
                                            <input class="form-select-size" type="number" name="quantity" min="1" value="1" required>
                                            <button type="submit" class="default__button" id="custum-add-to-cart-btn">افرودن به سبد</button>
                                            <button class="default__button none" id="no-stock-btn" style="background-color: #646769; border-color: #646769;" disabled>ناموجود</button>
                                        </form>
                                        <button type="submit" class="default__button" id="add-to-wishlist"><i class="fa-regular fa-heart"></i></button>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 descriptionarea__tab__wrapper" style="border-radius: 8px; background-color: white;">
                                    <ul class="nav  descriptionarea__tab__button" id="myTab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                        <button class="descriptionarea__link active" data-bs-toggle="tab" data-bs-target="#description" type="button" aria-selected="false" role="tab" tabindex="-1">توضیحات</button>
                                        </li>
                                    </ul>
                                    <div class="tab-content tab__content__wrapper" id="myTabContent1">
                                        <div class="tab-pane fade active show" id="description" role="tabpanel" aria-labelledby="description">  
                                            {{ product.content|safe }}
                                        <span>کد محصول: <span id="product-code"></span></span>
                                        <ul id="product-code-container">
                                        {% for size in product.sizes.all %}
                                        <li class="product-code-items none" aria-label="{{size.id}}">{{ size.product_code }}</li>
                                        {% endfor %}
                                        </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                       
            </div>
        </div>
    </div>
</div>
</div></div></div></div>
<script>
    const wholeProduct = document.querySelector('.single__product');
    const selectVar = document.querySelector('#select-size');
    const storyCircles = document.querySelectorAll('.story-circle');
    const options = document.querySelectorAll('option');
    const dynamicPrice = document.querySelector('#dynamic-price');
    function changeCode() {
        productCodeItems.forEach(i => {
            if (selectVar.value === i.ariaLabel) {
                i.classList.remove('none');
            } else {
                i.classList.add('none');
            }
        });
    }
    storyCircles[0].style.background = 'black';
    options.forEach(o => {
        if (o.value === selectVar.value) {
            o.classList.add('selected');
        } else {
            o.classList.remove('selected');
        }
    });
    const productCodeItems = document.querySelectorAll('.product-code-items');
    productCodeItems[0].classList.remove('none');
    dynamicPrice.innerHTML = document.querySelector('.selected').innerText;
    if (storyCircles) {
        storyCircles.forEach(i => {
            i.addEventListener('click', () => {
                selectVar.value = i.id;
                options.forEach(o => {
                    if (o.value === selectVar.value) {
                        o.classList.add('selected');
                    } else {
                        o.classList.remove('selected');
                    }
                });
                dynamicPrice.innerHTML = document.querySelector('.selected').innerText;
                storyCircles.forEach(x => {
                    if (x.id === selectVar.value) {
                        x.style.background = 'black';
                    } else {
                        x.style.background = '#cdcdcd';
                    }
                });
                wholeProduct.style.background = `#${document.querySelector('.selected').ariaLabel}`;
                changeCode();
            });
        });
    }
</script>
{% endblock %}
