{% extends 'base.html' %}
{% load static %}
{% block title %}
    نمایندگی
{% endblock %}
{% block meta_description %}
    نمایندگی
{% endblock %}
{% block content %}
<div class="about sp_top_80 sp_bottom_80">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                <div class="about__text">
                    <h1>آدرس نمایندگی های فروش</h1>
                    <h2>فروشگاه ویرا</h2>
                    <p>سه راه اقدسیه - اطلس مال - طبقه تجاری دوم G2 - واحد 2016</p>
                    <p>کد پستی: 1954734576</p>
                    <a href="tel:02126600600"><p>شماره تلفن: 02126600600</p></a>
                    <div class="about__img">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3235.7164282327763!2d51.47141931411349!3d35.80689433121856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e05a7a0b28af5%3A0x2f4a765aa6ffa48c!2sAtlas%20Mall!5e0!3m2!1sen!2slu!4v1747668205998!5m2!1sen!2slu" height="275" style="width: 100%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <h2>فروشگاه گیم باس</h2>
                    <p>تهران - هروی - پاساژ هروی سنتر - طبقه همکف - پلاک G13</p>
                    <p>کد پستی: 1669614222</p>  
                    <a href="tel:02191693263"><p>شماره تلفن: 02191693263</p></a>
                    <div class="about__img">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3237.3569082257663!2d51.476398476261004!3d35.766608225278645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e04843b61b661%3A0x1e3d71812caacbbd!2sHeravi%20Center!5e0!3m2!1sen!2slu!4v1747668511628!5m2!1sen!2slu" height="275" style="width: 100%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}