{% extends 'base.html' %}
{% load static %}
{% block title %}
	شرایط و ضوابط
{% endblock %}
{% block meta_description %}
	شرایط و ضوابط
{% endblock %}
{% block content %}
<div class="about sp_top_80 sp_bottom_80">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                <div class="about__text">
                    <h2>شرایط و ضوابط</h2>
                    <p>فروشگاه آرتینو در راستای خریدی آسان‌تر و سریع‌تر و همچنین ارسال محصولات برای اشخاص حقیقی و حقوقی می‌بایست اطلاعاتی را نظیر نام، آدرس، شماره تلفن، کد پستی و غیره از آنها دریافت نماید.</p>
                    <p>از دیگر مزایای ثبت‌نام و ارایه مشخصات مذکور عضویت در خبرنامه و سامانه اطلاع رسانی سایت می‌باشد که از این طریق امکان اطلاع از اضافه شدن محصولات جدید، تخفیفات و فروش‌های ویژه برای کاربران فراهم می‌شود و که البته امکان انصراف و خروج از این خبرنامه‌ها و سامانه اطلاع رسانی درپایین هر ایمیل ارسال شده مقدور می‌باشد.</p>
                    <p>آرتینو تمام تلاش خود را در حفظ و نگهداری اطلاعات خصوصی افراد می‌نماید تا خریدی امن و خاطره‌انگیز را برای کاربران خود مهیا سازد و البته از کاربران نیز تقاضا دارد تا در حفظ و نگهداری کلمه عبور خود کوشا باشند تا از بروز خطرات ناشی از انتشار اطلاعات خصوصی جلوگیری شود.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}